---
title: resume
permalink: 'resume/index.html'
layout: default
---

<div class="wrap">
  <div class="col-md-12 post-content">
    <div class="resume__section" id="overall">
      <h3>Senior Software Engineer</h3>
      <h4>Jack of All Trades</h4>

      <a href="{{ '/download/eugene-sypachev-cv.pdf' | prepend:site.baseurl }}" target='_blank'>Download PDF</a>
    </div>

    <div class="resume__section" id="experience">
      <div>
        <h2>Experience</h2>
      </div>
    
      {% capture responsibilities %}
        <li>Development of core product (XL Deploy) using Java (Spring), Scala (Akka), JavaScript (React);</li>
        <li>Documentation, technical support, and on-call activities.</li>
      {% endcapture %}
      {% include resume/entry.html from='02.2018' to='09.2020' company='Digital.ai, previously XebiaLabs' link='https://xebialabs.com/' link_name='​xebialabs.com' role='Senior Product Developer' responsibilities=responsibilities %}

      {% capture responsibilities %}
        <li>Blockchain software development using C++ based on Bitcoin code;</li>
        <li>Customer services development using Go, Node.js, Ionic, and Agnular.js;</li>
        <li>System engineering and software reliability engineering;</li>
        <li>Leading projects as needed;</li>
      {% endcapture %}
      {% capture projects %}
        <li>Opensource libraries and applications: <a href='https://github.com/MeritLabs' target='_blank'><i class="fa fa-github"></i> github</a></li>
      {% endcapture %}
      {% include resume/entry.html from='08.2017' to='present' company='MeritLabs' link='https://merit.me' link_name='merit.me' role='Senior Software Engineer' responsibilities=responsibilities projects=projects %}

      {% capture responsibilities %}
        <li>Development of logistics web application for Russian Post using Ruby on Rails</li>
      {% endcapture %}
      {% include resume/entry.html from='07.2016' to='10.2016' company='Falcon' role='Software Engineer' responsibilities=responsibilities %}

      {% capture responsibilities %}
        <li>Development of e-Commerce platform prototype based on Spree and Angular.js;</li>
        <li>Development of e-Commerce platform with Scala, GoLang, C++, and React.js;</li>
        <li>Service and SDK architecture development;</li>
        <li>Leading a group of 3-10 developers in a distributed team;</li>
      {% endcapture %}
      {% capture projects %}
        <li>Opensource platform: <a href='https://github.com/FoxComm/highlander' target='_blank'><i class="fa fa-github"></i> github</a></li>
      {% endcapture %}
      {% include resume/entry.html from='05.2015' to='07.2017' company='FoxCommerce' link='http://foxcommerce.com/' link_name='foxcommerce.com' role='Senior Software Engineer' responsibilities=responsibilities projects=projects %}

      {% capture responsibilities %}
        <li>Development of MVP using Ruby on Rails, MongoDB, Cordova, React;</li>
        <li>Development of applications for business analytics;</li>
      {% endcapture %}
      {% include resume/entry.html from='01.2015' to='05.2017' company='Hi, Jay!' link='http://hi-jay.eu/' link_name='​hi-jay.eu' role='Principal Software Engineer' responsibilities=responsibilities %}

      {% capture responsibilities %}
        <li>Custom development using Java (Spring), Scala (PlayFramework), JavaScript (jQuery and React);</li>
        <li>Deployment, monitoring and performance optimization;</li>
        <li>Leading project development team and, partially, project testing team;</li>
        <li>Participation in interviews as a technical expert;</li>
        <li>Development tools administration (Redmine, SVN/GitLab, TeamCity/Jenkins, Artifactory);</li>
      {% endcapture %}
      {% include resume/entry.html from='05.2012' to='05.2015' company='Enterprise Information Systems' role='Senior Software Developer' responsibilities=responsibilities %}

      {% capture responsibilities %}
        <li>Manual and automated functional, regression, integration and load testing of web applications;</li>
        <li>R&D work, connected with project needs and test automation;</li>
        <li>Deployment and administration of IBM WebSphere and Oracle clusters;</li>
        <li>Development tools administration and plugin development (Bugzilla, Redmine, SVN, TeamCity);</li>
        <li>Technical support, documentation;</li>
      {% endcapture %}
      {% include resume/entry.html from='01.2011' to='05.2012' company='BCC' link='http://bcc.ru' link_name='bcc.ru' role='Senior Software Test Engineer' responsibilities=responsibilities %}

      {% capture responsibilities %}
        <li>Network and software administration (15 classroom computers, 10 professors computers and server), hardware maintenance, IT help for Professors;</li>
      {% endcapture %}
      {% include resume/entry.html from='12.2007' to='08.2012' company='​St. Petersburg State University of Information Technologies, Mechanics and optics' role='Computer Class and Network Administrator' responsibilities=responsibilities %}

      {% capture responsibilities %}
        <li>Customer support, bug tracking;</li>
      {% endcapture %}
      {% include resume/entry.html from='08.2009' to='12.2009' company='RipDev' role='Customer Support Engineer' responsibilities=responsibilities %}

      {% capture responsibilities %}
        <li>Manual testing of applications for macOS;</li>
        <li>Customer Support;</li>
      {% endcapture %}
      {% include resume/entry.html from='05.2004' to='05.2008' company='Unsanity LLC' role='Software Test Engineer' responsibilities=responsibilities %}

      {% capture responsibilities %}
        <li>Manual testing of websites and applications;</li>
      {% endcapture %}
      {% include resume/entry.html from='05.2004' to='05.2008' company='FLOW ~13' role='Web Application Test Engineer' responsibilities=responsibilities %}

    </div>

    <div class="resume__section" id="education">
      <h2>Education</h2>
      <h3>
        09.2006 – 07.2012 St. Petersburg State University of Information
        Technologies, Mechanics and Optics.
      </h3>
      <p><span>Degree:</span> Master of Technical Physics.</p>
      <p>
        <span>Specialization:</span> Thermal physics. (Thermal Physics and Energy-physical Monitoring)
      </p>
    </div>

    <div class="resume__section" id="languages">
      <h2>Languages</h2>
      <p><span>:ru: Russian</span> - native</p>
      <p><span>:us: English</span> – fluent <span>(11.08.2009 received Business Writing Brainbench Certificate)</span></p>
      <p><span>:es: Spanish</span> - basic</p>
      <p><span>:netherlands: Dutch</span> – basic</p>
    </div>

    <div class="resume__section" id="contacts">
      <h2>Contacts</h2>
      <p><span>Phone:</span> 
        <ul>
          <li>:netherlands: +31-6-13177752</li> 
          <li>:ru: +7-950-0459336</li>
        </ul>
      </p>
      <p><span>Skype:</span> eugene-sy</p>
      <p><span>Telegram:</span> eugenesy</p>
      <p><span>Email:</span> eugene.sypachev@gmail.com</p>
    </div>
  </div>
</div>


