{% unless site.twitter == "" %}
  <a href="{{site.twitter}}">
    <i class="fa fa-twitter fa-lg"></i></a>
  </a>
{% endunless %}

{% unless site.git == "" %}
  <a href="{{site.git}}">
    <i class="fa fa-github fa-lg"></i></a>
  </a>
{% endunless %}

{% unless site.stackoverflow == "" %}
  <a href="{{site.stackoverflow}}">
    <i class="fa fa-stack-overflow fa-lg"></i></a>
  </a>
{% endunless %}

{% unless site.linkedin == "" %}
  <a href="{{site.linkedin}}">
    <i class="fa fa-linkedin-square fa-lg"></i></a>
  </a>
{% endunless %}
