.welcome {
  width: 100%;
  height: 100vh;
  background-color: $background-highlight;
  background: linear-gradient(to right, rgba($overlay, 0.25), $background-highlight);
  background-size: cover;
  overflow: auto;
}

.self {
  margin-top: 25px;
  color: $text-main;
  line-height: 1.25;

  .title,
  .description,
  .social-links {
    text-align: left;
    color: $text-main;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .description {
    margin: 10px 0 20px;
    color: $text-secondary;
    font-size: 1.2rem;
  }

  a {
    color: $text-main;
  }

  .social-links {
    margin: 25px 0 25px -10px;
  }

  .avatar {
    width: 300px;
    height: 300px;
    border: 1px solid $ribon;
  }

  .contact h3 {
    font-size: 1.2rem;
  }

  .contact-me {
    border-left: 3px solid $ribon;
    padding-left: 5px;
    margin: 10px 0;
    line-height: 1.5;

    img.emoji {
      vertical-align: bottom;
    }
  }
}

@media only screen and (max-width: 600px) {
  .wrap {
    width: 300px;
  }
  
  .self {
    margin-top: 25px;

    .social-links {
      margin: 25px auto;
      text-align: center;
    }
  }
}
