<div class='resume__entry'>
  <h3>
    <span class='entry-dates'>{{ include.from }} – {{ include.to }}</span>&nbsp;<span class='entry-company'>{{ include.company }}</span>   {% if include.link %}(<a href='{{ include.link }}' target='_blank'>{{ include.link_name }}</a>){% endif %}
  </h3>
  <p><span class='entry-field'>Role:</span> {{ include.role }}</p>
  <p><span class='entry-field'>Responsibilities:</span></p>
  <ul>
    {{ include.responsibilities }}
  </ul>
  {% if include.projects %}
  <p><span class="entry-field">Public projects:</span></p>
  <ul>
    {{ include.projects }}
  </ul>
  {% endif %}
</div>